<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="menu.toggleMenu()">
                <ons-icon icon="fa-bars"></ons-icon>
            </ons-toolbar-button>
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">{{app.title}}</div>
        <div class="right">
            <ons-button modifier="quiet">
                <ons-icon icon="fa-check"></ons-icon>
            </ons-button>
        </div>
    </ons-toolbar>
    <div class="soporte fondo2">
        <div class="cover"></div>
        <div class="container"> 
            <div class="formpro">
                <div>
                    <p>
                        <ons-input class="inputAddSeller" id="nameSeller" modifier="underbar" placeholder="Nombres" float></ons-input>
                    </p>
                    <p>
                        <ons-input class="inputAddSeller" id="lastNameSeller" modifier="underbar" placeholder="Apellidos" float></ons-input>
                    </p>
                    <p>
                        <ons-input class="inputAddSeller" id="mailSeller" type="email" modifier="underbar" placeholder="Correo" float></ons-input>
                    </p>
                    <p>
                        <ons-input class="inputAddSeller" id="celSeller" type="number" modifier="underbar" placeholder="Movil" float></ons-input>
                    </p>
                    <p>
                        <ons-input class="inputAddSeller" id="telSeller" type="number" modifier="underbar" placeholder="Telefono" float></ons-input>
                    </p>                   
                    <p>
                        <ons-button modifier="quiet" type="file" ng-click="app.goToPage('vendedores')">Cancelar</ons-button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</ons-page>