<ons-page>
    <div class="soporte fondo2">
    <ons-toolbar>
        <div class="left" ng-click="menu.toggleMenu()">
            <ons-toolbar-button>
                <ons-icon icon="fa-bars"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">{{app.title}}</div>

    </ons-toolbar>
    
        <div class="cover"></div>
        <div class="container"> 
            <div class="contenido">
                <ons-list-item ng-click="show()" modifier="tappable">
                    Login form {{::algo}}
                </ons-list-item>
                <button ng-click="getUsers()">Users</button>
                <button ng-click="getCompanies()">Companies</button>
                <div>
                    <table align="left">
                        <thead>
                        <th>
                           <td>No.</td>
                           <td>Name</td>
                           <td>Address</td>
                           <td>Created</td>
                        </th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="company in companies">
                            <td>{{$index + 1}}</td>
                            <td>{{company.companyName}}</td>
                            <td>{{company.address}}</td>
                            <td>{{company.createdAt}}</td>
                        </tr>
                        </tbody>
                    </table>
                    {{company.companyName}}
                    <table align="right">
                        <thead>
                        <th>
                           <td>No.</td>
                           <td>Name</td>
                           <td>Address</td>
                           <td>Created</td>
                        </th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="company in companies">
                            <td>{{$index + 1}}</td>
                            <td>{{company.companyName}}</td>
                            <td>{{company.address}}</td>
                            <td>{{company.createdAt}}</td>
                        </tr>
                        </tbody>
                    </table>
                    {{company.companyName}}
                </div>
            </div>
        </div>
        <ons-fab position="bottom right" ng-click="app.goToPage('products/add')">
            <ons-icon icon="fa-cart-plus"></ons-icon>
        </ons-fab>
    </div>
</ons-page>