<ons-page>
        <ons-toolbar>
            <div class="left" ng-click="menu.toggleMenu()">
                <ons-toolbar-button>
                    <ons-icon icon="fa-bars"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">{{app.title}}</div>
        </ons-toolbar>
    <div class="soporte fondo2">
        <div class="cover"></div>

            <div class="container">
                <ons-row class="fondoComp">
                    <ons-col align="center">
                        <img src="https://www.pentcloud.com/es/img/logo.svg" class="logoComp" />
                    </ons-col>
                </ons-row>
                <div ng-repeat="companies">
                    <p>{{company.companyName}}</p>
                </div>
                
                <p class="txtDescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation.</p>

                <div class="iconCompProf"><ons-icon icon="fa-map-marker" class="txtIcon">45 calle "b" -34 zona 12</ons-icon></div>  
                <div class="iconCompProf"><ons-icon icon="fa-phone" class="txtIcon">1928-3847 </ons-icon></div>
                <div class="iconCompProf"><ons-icon icon="fa-globe" class="txtIcon">www.pencloud.com</ons-icon></div>

                <ons-button class="iconFb" modifier="quiet"><ons-icon  icon="fa-facebook-square" ></ons-icon></ons-button>
                <ons-button class="iconIn" modifier="quiet"><ons-icon  icon="fa-linkedin-square" ></ons-icon></ons-button>
                <ons-button class="iconTwitter" modifier="quiet"><ons-icon icon="fa-twitter-square" ></ons-icon></ons-button>
            </div>
    </div>
</ons-page>