<ons-page>
	<div class="soporte fondo2">
	    <ons-toolbar>
	        <div class="left" ng-click="menu.toggleMenu()">
	            <ons-toolbar-button>
	                <ons-icon icon="fa-bars"></ons-icon>
	            </ons-toolbar-button>
	        </div>
	        <div class="center">{{app.title}}</div>   
	    </ons-toolbar>
        <div class="cover"></div>
        <div class="container"> 
            <div class="contenido">
                 <ons-icon class="sizeIcon" icon="fa-user"></ons-icon>
                 <p class="colorTxtIcon">Aun no tienes <br> vendedores</p>
            </div>
        </div>
	    <ons-fab ng-click="app.goToPage('vendedores/add')" position="bottom right">
	        <ons-icon icon="fa-user-plus"></ons-icon>
	    </ons-fab>
	</div>
</ons-page> 